/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui
 */
 
@import "bootstrap-sprockets";
@import "bootstrap";

.navbar {
    background-color: #2B2B2B;
}

.nav {
    text-align: left;
}

.nav a {
    text-decoration: none;
}

body {
    //ackground: #005C97; /* fallback for old browsers */
    //background: -webkit-linear-gradient(to left, #005C97 , #363795); /* Chrome 10-25, Safari 5.1-6 */
    //background: linear-gradient(to left, #005C97 , #363795); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    font-family: 'Open Sans', sans-serif;
    
    background-color: #121211 !important;
    color: white;
}

#top-box, .editor, .preview, .upload {
    background-color: rgba(43,43,43,0.7);
    border-radius: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(120, 120, 120, 0.4);
    box-shadow: 0px 5px 15px 10px rgba(35, 35, 35, 0.5);
}