// Place all the styles related to the uploads controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#overlay {
    position: relative;
    margin-bottom:10px;
}

#img {
    position:absolute;
    top:0;
    left:0;
    width:auto;
}

#flag {
    position:absolute;
    top:0;
    left:0;
    width:auto;
    border: 2px solid black;
    box-sizing: content-box;
}

#flag img {
    width:100%;
    height:100%;
}

#controls {
    text-align: center;
    padding-bottom: 30px;
}

#helper-arrow {
    position: absolute;
    right: -160px;
    bottom: -18px;
    padding: 6px;
    border: solid 1px black;
    background: #333;
    color: white;
    display:none;
    border-radius: 5px;
}

#flags-arrow {
    padding: 6px;
    border: solid 1px black;
    background: #333;
    color: white;
    display:none;
    border-radius:5px;
    transition: color 0.7s;
}

#editor-arrow {
    padding: 6px;
    border: solid 1px black;
    background: #333;
    color: white;
    display: none;
    border-radius: 5px;
    transition: color 0.7s;
    text-align: center;
}

#result {
    text-align:center;
    margin-top:30px;
    margin-bottom:30px;
}

.editor {
    visibility: hidden;
    padding-bottom: 50px;
    padding-top: 30px;
}

#flags {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 200px;
}

.flag-thumb {
    margin: 1px;
    opacity: 0.3;
    transition: opacity 0.3s;
}

.flag-thumb.selected {
    opacity: 1!important;
}

.flag-thumb:hover {
    opacity: 1!important;
}

#spinner {
    text-align: center;
    margin-top: 100px;
}

.sda {
    padding: 35px;
    border: 1px solid black;
    opacity: 0.3;
    border-radius: 5px;
    text-align: center;
}