// Place all the styles related to the uploads controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#overlay {
    position: relative;
    margin-bottom:10px;
}

#img {
    position:absolute;
    top:0;
    left:0;
    width:auto;
}

#flag {
    position:absolute;
    top:0;
    left:0;
    width:auto;
    border: 2px solid black;
}

#img img, #flag img {
    opacity:0.5;
}

#flag img {
    width:100%;
    height:100%;
}

#controls {
    text-align: center;
    margin-bottom: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    padding-bottom: 30px;
}