// Place all the styles related to the uploads controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#overlay {
    position: relative;
    margin-bottom:10px;
}

#img {
    position:absolute;
    top:0;
    left:0;
    width:auto;
}

#flag {
    position:absolute;
    top:0;
    left:0;
    width:auto;
    border: 2px solid black;
    box-sizing: content-box;
}

#img img, #flag img {
    opacity:0.5;
}

#flag img {
    width:100%;
    height:100%;
}

#controls {
    text-align: center;
    padding-bottom: 30px;
}

#helper-arrow {
    position: absolute;
    right: -170px;
    bottom: -18px;
    padding: 10px;
    border: solid 1px black;
    background: #333;
    color: white;
    display:none;
}

#flags-arrow {
    position: absolute;
    right: -20px;
    top: 17px;
    padding: 10px;
    border: solid 1px black;
    background: #333;
    color: white;
    display:none;
}

#result {
    text-align:center;
    margin-top:30px;
    margin-bottom:30px;
}

.editor {
    visibility: hidden;
    border: 1px solid black;
    padding-bottom: 50px;
}

#flags {
    overflow-y: scroll;
    overflow-x:hidden;
    height:200px;
}

.flag-thumb {
    margin:4px;
    transition: opacity 0.3s;
}

.flag-thumb.selected {
    opacity: 1!important;
}

.flag-thumb:hover {
    opacity: 1!important;
}