<div class="container">
    <div class="row">
        <div class=".col-md-6 .col-md-offset-3">
            <div id="controls">
                <input type="range" min="0" max="1" step=".01" value="0.5" id="mix" style="width:30%;margin:0px auto;">
               <button type="button" class="btn btn-default" id="fit" style="margin-top:20px;">Fit to picture</button>
                <div id="flags" style="margin-top:20px;">
                    <button type="button" class="btn btn-default" id="flag1">FRENCH FLAG</button>
                    <button type="button" class="btn btn-default" id="flag2">US FLAG</button>
                    <button type="button" class="btn btn-default" id="flag3">CANADA FLAG</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class=".col-md-6 .col-md-offset-3">
            <h3 style="text-align:center;">Edit your picture:</h3>
            <div id="overlay" style="margin:0px auto;">
                    <div id="img"><%= image_tag @upload.image.url %></div>
                    <div id="flag"><%= image_tag 'flags/fr.png' %></div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class=".col-md-6 .col-md-offset-3">
            <h3 style="text-align:center;">Preview your picture:</h3>
            <h5 style="text-align:center;">When you are finished, right click this image and hit 'Save As'</h5>
            <div id="result" style="text-align:center;margin-top:30px;">
                <canvas id="canvas2" style="margin:0px auto;"></canvas>
            </div>
        </div>
    </div>
</div>
