<input type="range" min="0" max="1" step=".01" value="0.5" id="mix"><%= link_to 'Overlay!', overlay_upload_path %>
<div id="fit">Fit to picture</div>
<div id="go">Go</div>
    <div id="overlay">
            <div id="img"><%= image_tag @upload.image.url %></div>
            <div id="flag"><%= image_tag 'flags/fr.png' %></div>
    </div>
<div class="container">
    <div id="result">
    
    </div>
    <canvas id="canvas2"></canvas>
</div>
